/site/backend/node_modules
/site/backend/public/hot
/site/backend/public/storage
/backend/storage/*.key
/site/backend/vendor
/site/backend/.env
/site/backend/.phpunit.result.cache
/site/backend/Homestead.json
/site/backend/Homestead.yaml
/site/backend/npm-debug.log
/site/backend/yarn-error.log
/site/frontend/node_modules
/site/frontend-admin/node_modules
.idea
